#galerias{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 15;
	display: none;
}
#close {
	width: 50px;
    height: 50px;
    color: #66BD4A;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 0px;    
    border: 4px solid;    
    border-radius: 30px;
    background-color: #fff;
    cursor: pointer;
    z-index: 20;
}
#mapa_container {
    width: 90vw;
	height: 90vh;
    position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
    background-image: url("../images/genral/IMG Mapa.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    display: none;
}
#indepth_cover{
	width: 100%;
	height: 840px;
	background-image: url("../images/genral/IMG_Portada.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}
#boton_container {
    width: 1000px;
    height: 100%;
    margin: auto;
    position: relative;
}
#boton_mapa {
    height: 139px;
    width: 89px;
    position: absolute;
    top: 36px;
    left: 48px;
    cursor: pointer;
}
#boton_galeria {
    height: 139px;
    width: 87px;
    position: absolute;
    top: 36px;
    right: 63px;
    cursor: pointer;
}
.indepth_transicion{
	width: 100%;
	height: 266px;
	background-image: url("../images/genral/IMG_Transicion1.jpg");
	background-size: cover;
	background-position: center;
}
#indepth_estacion{
	width: 100%;
	height: 830px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
#selector{
	background-color: #FFF;
	width: 770px;
	height: 75px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 74px;
	margin: auto;
}
#estacion_equipos{
	width: 640px;
	height: 56px;
	display: block;
	margin: auto;
	margin-top: 8px;
	position: relative;
	overflow: hidden;
}
#line_background{
	width: 100%;
	height: 0px;
	position: absolute;
    border-top: 1px solid #E2E3E5;   
    border-bottom: 1px solid #E2E3E5;
    margin: auto;
    bottom: 0;
    top: 0;    
}
#contenerdor_equipos {
    height: 56px;
    width: 1314px;
    position: relative;
    z-index: 5;
}
.equipos{
	width: 57px;
	height: 56px;
	display: inline-block;
	float: left;
	margin-right: 16px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
#btns_cambios{
	height: 36px;
	width: 30px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 158px;
}
#etiquetas{
	height: 36px;
	width: 30px;
	background-image: url("../images/btns/BTN_Etiqueta.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
@media(max-width: 1000px){
	#indepth_cover {
	    height: 660px;
	}
	#boton_container {
	    width: 720px;
	}
	#boton_mapa {
		height: 106px;
	    width: 67px;
	    left: 6px;
	    top: 29px;	    
	}
	#boton_galeria {
	    height: 108px;
	    width: 68px;
	    top: 28px;
	    right: 17px;
	}
	.indepth_transicion {
	    height: 200px;
	}
	#indepth_estacion {
	    height: 615px;
	}
	#btns_cambios {
	    bottom: 110px;
	}
	#selector {
	    bottom: 25px;
	}
	#selector {
	    bottom: 25px;
	    width: 720px;
	}
}
@media(max-width: 720px){
	#indepth_cover {
	    height: 540px;
	}
	#boton_container {
	    width: 640px;
	}
	#boton_mapa {
	    left: 27px;
	    top: 22px;
	    height: 90px;
	    width: 58px;
	}
	#boton_galeria {
	    height: 88px;
	    width: 57px;
	    top: 24px;
	    right: 39px;
	}
	.indepth_transicion {
	    height: 100px;
	}
	#indepth_estacion {
	    height: 540px;
	}
	#btns_cambios {
	    bottom: 75px;
	    height: 50px;
	    width: 40px;
	}
	#etiquetas {
	    width: 100%;
	    height: 100%;
	}
	#selector {
	    width: 515px;
	    height: 66px;
	    background-color: rgba(255, 255, 255, 0.5);
	    bottom: 0px;
	}
	#estacion_equipos {
	    width: 494px;
	    left: 0px;
	    margin-top: 5px;
	}
	#contenerdor_equipos {
	    left: -75px;
	}

}
@media(max-width: 640px){
	#indepth_cover {
	    height: 380px;
	}
	#boton_container {
	    width: 420px;
	}
	#boton_mapa {
	    left: 6px;
	    top: 16px;
	    height: 63px;
	    width: 39px;
	}
	#boton_galeria {
	    height: 61px;
	    width: 39px;
	    top: 17px;
	    right: 13px;
	}
	#indepth_estacion {
	    height: 400px;
	}
	#btns_cambios {
	    display: none;
	}
	#selector {
	    width: 360px;
	}
	#estacion_equipos {
	    width: 349px;
	}
	#contenerdor_equipos {
	    left: -146px;
	}
}
@media(max-width: 420px){
	#indepth_cover {
	    height: 340px;
	}
	#boton_container {
	    width: 370px;
	}
	#boton_mapa {
	    left: 3px;
	}
	#boton_galeria {
	    right: 8px;
	}
	#indepth_estacion {
	    height: 315px;
	}
	#selector {
	    width: 215px;
	}
	#estacion_equipos {
	    width: 202px;
	}
	#contenerdor_equipos {
	    left: -219px;
	}
}
