#indepth_content {
    position: relative;
}
#info{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 15;
}
#info_cont{
	width: 1000px;
	height: 100%;
	position: relative;
	margin: auto;
}
#info_cont div{
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#info_mapa{
	width: 170px;
	height: 118px;
	left: 120px;
	top: 210px;
	background-image: url("../images/info/INFO 4.png");
}
#info_gal{
	width: 128px;
	height: 124px;
	right: 100px;
	top: 200px;
	background-image: url("../images/info/INFO 3.png");
}
#info_down{
	width: 260px;
	height: 136px;
	right: 91px;
	top: 507px;
	background-image: url("../images/info/INFO 2.png");
}
#info_estac{
	width: 211px;
	height: 82px;
	left: 315px;
	bottom: 155px;
	background-image: url("../images/info/INFO 1.png");
}
#galerias{
	width: 100vw;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 15;
	display: none;
}
.close {
	width: 50px;
    height: 50px;
    color: #66BD4A;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top:-25px;
    right: -25px;    
    border: 4px solid;    
    border-radius: 30px;
    background-color: #fff;
    cursor: pointer;
    z-index: 50;
}
#mapa_container {
    width: 90vw;
	height: 80%;
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
    background-image: url("../images/genral/IMG Mapa.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
    display: none;
}
#gallery_container {
	height: 600px;
	width: 500px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
	bottom: 0px;
	margin: auto;
    background-color: #FFF;
    display: none;
}
#cont{
	height: 600px;
	width: 500px;
    position: relative;
    overflow: hidden;
}
.gal_arrows {
	width: 50px;
    height: 100%;
    position: absolute;
    z-index: 30;
    background-color: #fff;
    background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	cursor: pointer;
}
.gal_arrows:hover {
	background-color: rgba(0,0,0,0.5);
}
#left {
    left: 0px;
    background-image: url("../images/genral/back_arrow.svg");
}
#right {
    right: 0px;
    background-image: url("../images/genral/forward_arrow.svg");
}
#indicator {
    width: 77px;
    height: 16px;
    z-index: 2;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
#indicator div {
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: #FFF;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(102, 189, 76);
}
#images{
	position: relative;
	height: 600px;
	width: 4000px;
	left: 0px;
}
#images div{
	position: relative;
	height: 600px;
	width: 500px;
	float: left;
	display: inline-block;
	background-color: #fff;
}
#images img{
	width: auto;
	height: 100%;
	margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}
#indepth_cover{
	width: 100%;
	height: 840px;
	background-image: url("../images/genral/IMG_Portada.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}
#boton_container {
    width: 1000px;
    height: 100%;
    margin: auto;
    position: relative;
}
#boton_mapa {
    height: 217px;
    width: 122px;
    position: absolute;
    top: 6px;
    left: 43px;
    cursor: pointer;
}
#boton_galeria {
    height: 221px;
	width: 114px;
    position: absolute;
    top: 36px;
    right: 63px;
    cursor: pointer;
}
.indepth_transicion{
	width: 100%;
	height: 266px;
	background-image: url("../images/genral/IMG_Transicion1.jpg");
	background-size: cover;
	background-position: center;
}
#indepth_estacion{
	width: 100%;
	height: 830px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
#selector{
	background-color: #FFF;
	width: 770px;
	height: 75px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 74px;
	margin: auto;
}
.select_arrows {
	width: 65px;
    height: 100%;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	cursor: pointer;
}
#prev {
	background-image: url("../images/genral/back_arrow_gray.svg");
}
#next{
	background-image: url("../images/genral/forward_arrow_gray.svg");
}
#estacion_equipos{
	width: 640px;
	height: 56px;
	display: inline-block;
	float: left;
	margin-top: 8px;
	position: relative;
	overflow: hidden;
}
#line_background{
	width: 100%;
	height: 0px;
	position: absolute;
    border-top: 1px solid #E2E3E5;   
    border-bottom: 1px solid #E2E3E5;
    margin: auto;
    bottom: 0;
    top: 0;    
}
#contenerdor_equipos {
    height: 56px;
    width: 1314px;
    position: relative;
    z-index: 5;
}
.equipos{
	width: 57px;
	height: 56px;
	display: inline-block;
	float: left;
	margin-right: 16px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
#btns_cambios{
	height: 36px;
	width: 30px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 158px;
}
#etiquetas{
	height: 36px;
	width: 30px;
	background-image: url("../images/btns/BTN_Etiqueta.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
@media(max-width: 1000px){
	.select_arrows {
		width: 40px;
	}	
	#indepth_cover {
	    height: 660px;
	}
	#boton_container {
	    width: 720px;
	}
	#boton_mapa {
	    height: 173px;
	    width: 94px;
	    left: 2px;
	    top: 5px;
	}
	#boton_galeria {
	    height: 170px;
		width: 89px;
	    top: 4px;
	    right: 17px;
	}
	.indepth_transicion {
	    height: 200px;
	}
	#indepth_estacion {
	    height: 615px;
	}
	#btns_cambios {
	    bottom: 110px;
	}
	#selector {
	    bottom: 25px;
	}
	#selector {
	    bottom: 25px;
	    width: 720px;
	}
	#info_cont {
	    width: 720px;
	    margin: auto;
	}
	#info_mapa {
	    left: 80px;
	    top: 125px;
	}
	#info_gal {
		right: 78px;
		top: 135px;
	}
	#info_down {
	    right: 5px;
	    top: 383px;
	}
	#info_estac {
	    left: 164px;
	    bottom: 108px;
	}
}
@media(max-width: 720px){
	#indepth_cover {
	    height: 540px;
	}
	#boton_container {
	    width: 640px;
	}
	#boton_mapa {
	    left: 27px;
	    top: 4px;
	    height: 140px;
	    width: 77px;
	}
	#boton_galeria {
    	height: 140px;
    	width: 73px;
    	top: 4px;
    	right: 39px;
	}
	.indepth_transicion {
	    height: 100px;
	}
	#indepth_estacion {
	    height: 540px;
	}
	#btns_cambios {
	    bottom: 75px;
	    height: 50px;
	    width: 40px;
	}
	#etiquetas {
	    width: 100%;
	    height: 100%;
	}
	#selector {
	    width: 574px;
	    height: 66px;
	    background-color: rgba(255, 255, 255, 0.5);
	    bottom: 0px;
	}
	#estacion_equipos {
	    width: 494px;
	    left: 0px;
	    margin-top: 5px;
	}
	#contenerdor_equipos {
	    left: -75px;
	}
	#info_cont {
	    width: 640px;
	}
	#info_mapa {
	    left: 80px;
	    top: 125px;
	}
	#info_gal {
		right: 78px;
		top: 135px;
	}
	#info_down {
	    right: 5px;
	    top: 383px;
	}
	#info_estac {
	    left: 164px;
	    bottom: 108px;
	}
}
@media(max-width: 640px){
	#indepth_cover {
	    height: 380px;
	}
	#boton_container {
	    width: 420px;
	}
	#boton_mapa {
	    left: 2px;
	    top: 2px;
	    height: 99px;
	    width: 55px;
	}
	#boton_galeria {
	    height: 97px;
	    width: 50px;
	    top: 3px;
	    right: 13px;
	}
	#indepth_estacion {
	    height: 400px;
	}
	#btns_cambios {
	    width: 20px;
		height: 26px;
		bottom: 68px;
	}
	#selector {
	   	width: 421px;
	}
	.select_arrows {
	    width: 36px;
	}
	#estacion_equipos {
	    width: 349px;
	}
	#contenerdor_equipos {
	    left: -146px;
	}
	#info_cont {
	    width: 420px;
	}
	#info_mapa {
	    left: 50px;
	    top: 81px;
	    width: 85px;
	    height: 59px;
	}
	#info_gal {
	    right: 48px;
	    top: 90px;
	    width: 64px;
	    height: 62px;
	}
	#info_down {
	    right: 15px;
	    top: 226px;
	    width: 130px;
	    height: 68px;
	}
	#info_estac {
	    left: 112px;
	    bottom: 75px;
	    width: 105px;
	    height: 41px;
	}
}
@media(max-width: 500px){
	#gallery_container, #cont, #images div {
	    width: 300px;
	    height: 460px;
	}
	.gal_arrows {
		display: none;
	}
}
@media(max-width: 420px){
	#indepth_cover {
	    height: 340px;
	}
	#boton_container {
	    width: 370px;
	}
	#boton_mapa {
	    left: 3px;
	}
	#boton_galeria {
	    right: 8px;
	}
	#indepth_estacion {
	    height: 315px;
	}
	#selector {
	    width: 282px;
	}
	#estacion_equipos {
	    width: 202px;
	}
	#contenerdor_equipos {
	    left: -219px;
	}
	#mapa_container{
		background-size: 100% auto;
	}
	#info_cont {
	    width: 320px;
	}
	#info_mapa {
	    left: 25px;
	    top: 82px;
	}
	#info_gal {
	    right: 13px;
	    top: 75px;
	}
	#info_down {
	    right: 0px;
	    top: 190px;
	}
	#info_estac {
	    left: 62px;
	    bottom: 78px;
	}
}
@media(max-width: 370px){
	#boton_container{
		width: 100%;
	}
}
